.top h1{
    font-family: 'Roboto Slab', serif;
}
a,.newUse{
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 1px;
}
.logCartImg{
    width: 45rem;
    height: 35rem;
}
@media screen and (max-width:1445px){
    .logCartImg{
            width: 35rem;
            height: 30rem;
    }
    .logCont{
        padding: 2rem 2rem;
    }
}
@media screen and (max-width:1250px){
    .logCont{
        flex-direction: column;
        justify-content: center;
        margin: auto;
    }
}
.loginButton{
    margin-left: 0.5rem;
    padding: 1.5rem 5rem;
    border: none;
    background-color: rgb(146, 56, 231);
    border-radius: 40px;
    letter-spacing: 1.5px;
}
.fgPass{
    position: relative;
    top:1.3rem;
}
.userIcon{
    position: relative;
    left: 2rem;
    top: 3.1rem;
    font-size: 1.2rem;
    width: 3px;
}
.passIcon{
    position: relative;
    left: 2rem;
    top: 3.1rem;
    font-size: 1.2rem;
    width: 3px;
}
input:focus{
    outline: none;
}
.sample{
    position:relative;
}
